.searchBar {
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: lightgrey;
  // border: 1px solid lightgrey;
  outline: none;

  input {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    color: dark;
    // background: lightgrey;
  }

  input::placeholder {
    font-size: 18px;
  }

  button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 100%;
    color: white;
    font-size: 15px;
    background: blue;
    outline: none;
    border: none;
  }
}

.searchBar:focus {
  border: 1px solid blue;
}
