.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 10px;

  .nav {
    border-right: 1px solid lightgrey;
    flex: 0.8;
    flex-shrink: 1.5;
  }
  .aside {
    border-left: 1px solid lightgrey;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  .home {
    // padding-left: 1em;
    flex: 1.5;
    flex-shrink: 0;
  }
}
